<p>deine Mudda works!!</p>
<div class="filter-btns">
    <button (click)="activeTab.set('active')">Active</button>
    <button (click)="activeTab.set('past')">Past</button>
</div>

<select (change)="onCategoryChange($event)">
    <option value="all">Alle</option>
    @for (cat of availableCategories(); track cat) {
    <option [value]="cat">{{cat}}</option>
    }
</select>

<div>
    @for (item of filteredSurveys(); track item.id) {
    <div class="survey">
        <span><b>Kategorie:</b> {{item.category}} </span>
        <span><b>Name:</b> {{item.name}} </span>
        <span><b>Datum:</b> {{item.end_date}} </span>
    </div>
    }
</div>
  <button [routerLink]="['survey-detail']" role="button">Ab zu den Details Baby</button>