.filter-btns {
    display: flex;
    width: 200px;
    justify-content: space-between;
}

.survey {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 16px;
    margin-top: 16px;
}