<p>deine Mudda works!!</p>
<div class="filter-btns">
    <button (click)="activeTab.set('active')">Active</button>
    <button (click)="activeTab.set('past')">Past</button>
</div>

<select (change)="selectedCategory.set($any($event.target).value)">
    <option value="all">Alle</option>
    @for (cat of availableCategories(); track cat) {
    <option [value]="cat">{{cat}}</option>
    }
</select>

<table>
    <tbody>
        @for (item of filteredSurveys(); track $index) {
        <tr>
            <td>{{item.category}}</td>
            <h2>
                <td>{{item.name}}</td>
            </h2>
            <td>Datum: {{item.end_date}} </td>
        </tr>


        }
    </tbody>
</table>